// SPDX-License-Identifier: (GPL-2.0+ OR MIT)

/dts-v1/;
/plugin/;

#include <dt-bindings/mfd/atmel-flexcom.h>
#include <dt-bindings/interrupt-controller/irq.h>

&uart9 {
	status = "disabled";
};

&flx9 {
	atmel,flexcom-mode = <ATMEL_FLEXCOM_MODE_TWI>;
	status = "okay";

	i2c9: i2c@600 {
		#address-cells = <1>;
		#size-cells = <0>;
		dmas = <0>, <0>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_flx9_twi>;
		status = "okay";

		imu@68 {
			compatible = "invensense,icm20948";
			reg = <0x68>;
			status = "okay";
		};

		gyro@1e {
			compatible = "honeywell,hmc5883l";
			reg = <0x1e>;
			status = "disabled";
		};
	};
};

&flx3 {
	atmel,flexcom-mode = <ATMEL_FLEXCOM_MODE_SPI>;
	status = "okay";

	spi3: spi@400 {
		#address-cells = <1>;
		#size-cells = <0>;
		dmas = <0>, <0>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_flx3_spi>;
		status = "okay";

		dwm1000@0 {
			compatible = "rohm,dh2228fv";
			reg = <0>;
			spi-max-frequency = <2000000>;
			interrupt-parent = <&pioC>;
			interrupts = <30 IRQ_TYPE_EDGE_RISING>;
			status = "okay";
		};
	};
};

&pioC {
	pinctrl_flx3_spi: flx3_spi {
		atmel,pins =
			<AT91_PIOC 22 AT91_PERIPH_B AT91_PINCTRL_NONE
			 AT91_PIOC 23 AT91_PERIPH_B AT91_PINCTRL_NONE
			 AT91_PIOC 25 AT91_PERIPH_B AT91_PINCTRL_NONE
			 AT91_PIOC 26 AT91_PERIPH_B AT91_PINCTRL_NONE>;
	};

	pinctrl_flx9_twi: flx9_twi {
		atmel,pins =
			<AT91_PIOC 8 AT91_PERIPH_C AT91_PINCTRL_PULL_UP
			 AT91_PIOC 9 AT91_PERIPH_C AT91_PINCTRL_PULL_UP>;
	};
};
