// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * sam9x60_curiosity_wilc3000.dtso - Device Tree file for SAM9x60-CURIOSITY board
 * overlay blob for ATWILC3000 - Wireless Modules.
 *
 * Copyright (C) 2022 Microchip Technology, Inc. and its subsidiaries
 * Author: Durai Manickam KR <durai.manickamkr@microchip.com>
 *
 */
/dts-v1/;
/plugin/;

#include <dt-bindings/input/input.h>

&lcd {
	compatible = "sitronix,st7789v_custom";
	rotation = <0>;
};

&usb2 {
	vbus-supply = <&usb_otg_vbus>;
};

&btn_left {
	linux,code = <BTN_TRIGGER_HAPPY3>;
};

&btn_right {
	linux,code = <BTN_TRIGGER_HAPPY1>;
};

